body{
    margin: 50px;
    background-color: rgba(114, 113, 113, 0.336);
    border: 10px solid #fff;
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    opacity: 0.2;
}

.container{
    padding: 40px;
    background-color: #fff;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Centraliza a primeira imagem */
.featured-img {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-img img {
    max-width: 100%;
}

.conteudo{
    border: 13px solid #fff;
}


.letra-1 article{
    border: 50px solid #fff;
    padding: 5px;
    background-color: rgba(114, 113, 113, 0.336);
}

.letra-1 h1{
    text-align: center;
    font-weight: bold;
}

.letra-1 p{
    text-align: center;
}

article{
    border: 20px solid #fff;
}

.letra-2 article{
    border: 50px solid #fff;
    padding: 5px;
    background-color: rgba(114, 113, 113, 0.336);
}

.letra-2 h1{
    text-align: center;
    font-weight: bold;
}

.letra-2 p{
    text-align: center;
}

.featured-img-2 {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}

.featured-img-2 img{
    max-width: 100%;
}